<body>
<div>
<br></br>
    <div class="container">
        <center>
            <h1>Teams</h1>
        </center>
        <br></br>

        <h2>Click on a team name to see more details</h2>

        <% if @teams != nil %>
            <% @teams.each do |t| %> 
                <a type="button" class="btn btn-outline-info" href="/teams/<%= t.id %>"><%= t.name %></a>
                
                <div>
                <% poke = t.pokemon %>
                    <% poke.each do |p| %>
                        <img src="<%= p.sprite %>" class="img-thumbnail" alt="<%= p.name %>">
                    <% end %>
                </div>
                <form method="post" action="/teams/<%=t.id%>">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" class="btn btn-outline-danger" value="Release Team">
                </form>
                <br></br>
            <% end %>
        <% end %>
        <a type="button" class="btn btn-primary" href="/teams/new">Create New Team</a>
    </div>
</div>
</body>
