

<div class="p-3 mb-2 bg-dark text-white">
    <center>
        <h1><%= @team.name %></h1>
        </center>
    <% @team.pokemon.each do |pok| %>
        <img src="<%= pok.avatar %>" class="pull-left" alt="pokemon">
        <h2>Name: <%= pok.name.capitalize %></h1>
        <% if pok.secondary_type %>
            <h2>Type: <%= pok.primary_type.capitalize %> <%= pok.secondary_type.capitalize %></h2>
        <% else %>
            <h2>Type: <%= pok.primary_type.capitalize %><h2>
        <% end %>
        <h2>Nature: <%= pok.nature %></h2>
        <h2>Ability: <%= pok.ability.capitalize %></h2>
        
    <% end %>
</div>

<a class="button" href="/teams/<%= @team.id %>/edit">Edit Team</a>
<br></br>
<a class="button" href="/teams">Return To Teams</a>